@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');

* {
    padding: 0;
    margin: 0;
}

header {
    display: flex;
    padding: 15px;
    border-bottom: 2px groove cornsilk;
    background-color: black;
    align-items: center;
    padding-left: 25px;
    padding-right: 75px;
}

#logo-image {
    margin-left: 0;
    margin-right: auto;
}

#nav-bar {
    display: flex;
    gap: 33px;
}

.nav-link {
    text-decoration: none;
    color: cornsilk;
    font-size: 24px;
    font-weight: bold;
    font-family: "Space Grotesk", sans-serif;
}